
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

* {
    margin: 0;
    padding: 0;
}
.logo-container img{
    height: 200px;
    width: 200px;
    display: flex;
    margin: 0 auto;
    padding-bottom: 30px;
    margin-top: 30px;
}
.main-search-bar {
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
    height: 54px;
    background: #d8d8d8;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    font-size: 16px;
    font-family: 'Syne', sans-serif;
}

.search-icon {
    position: absolute;
    left: 18px;
    font-size: 30px;
    color: teal;
    transform: rotate(-10deg);
}

/* Apps */
.apps-grid {
    max-width: 650px;
    margin: 70px auto 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px 60px;
    padding: 0 20px;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease;
}

.app:hover {
    transform: scale(1.08);
}

.app img {
    width: 72px;
    height: 72px;
    object-fit: contain;
}

@media (max-width: 768px) {
    .apps-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .top-search {
        padding: 0 20px;
    }

    .logo-container img {
        width: 140px;
    }
}